*
!.gitignore

!lsfUtils/
!lsfUtils/atlases

!src/
!src/Creatures/
!src/Creatures/*/
!src/Creatures/*/*/
!src/CWTs/
!src/Effects/
!src/Effects/EvilWater/
!src/Items/
!src/Items/*/
!src/ProcessingConditions/
!src/Ripplespace/

!Mod/
!Mod/atlases
!Creatures/
!Creatures/*/
!Creatures/*/*/
!CWTs/
!Effects/
!Items/
!Items/*/
!ProcessingConditions/
!Ripplespace/

!*.png
!*.txt
!*.json
!*.cs
!*.csproj
