*
!.gitignore

!lsfUtils/
!lsfUtils/atlases

!src/
!src/Creatures/
!src/CWTs/
!src/Effects/
!src/Items/
!src/Items/Dart/
!src/Items/PoisonDart/
!src/Items/RippleFlower/
!src/ProcessingConditions/
!src/Ripplespace/

!*.png
!*.txt
!*.json
!*.cs
!*.csproj
